<div>
    <div class="row">
        <nav class="navbar navbar-dark bg-secondary">
            <div class="container">
                <!-- <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"> -->
                <span class="fs-3"> Search Github Profiles</span>
            </div>
          </nav>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <input [(ngModel)]="searchKey" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
              </div>
              
        </div>
    </div>
</div>