<div class="height">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
          <!-- <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"> -->
          <span class="text-white fs-2" >Github Profiles</span>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-5 bg-danger">
          <app-search></app-search>
        </div>
        <div class="col-7 bg-info">
          <app-profile></app-profile>
        </div>
      </div>
      <div class="row">
        <div class="col-12 bg-success">
          <app-history></app-history>
        </div>
      </div>
    </div>
  </div>